---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.authorholar}}my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Working Papers</h2><hr />
{% assign working = site.publications | where: "status", "working-paper" | sort: "date" | reverse %}
{% for post in working %}
  {% include publication-item.html post=post show_abstract=true %}
{% endfor %}

<h2>Publications</h2><hr />
{% assign published = site.publications | where: "status", "published" | sort: "date" | reverse %}
{% for post in published %}
  {% include publication-item.html post=post show_abstract=false %}
{% endfor %}
